<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Start-Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bundle/normalize.css">
    <link rel="stylesheet" href="../styles/bundle/index.css">
    <link rel="stylesheet" href="../styles/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,500" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header-inner container">
            <div class="header-inner__logo">
                <a href="index.html">
                    <img src="../img/logo.svg" alt="logo" class="logo-img">
                </a>
            </div>
            <!-- /.header-inner__logo -->
            <div class="header-inner__pair">
                <a href="registration.html" class="reg-link">Регистрация</a>
                <a href="logon.html" class="login-link">Вход</a>
            </div>
            <!-- /.header-inner__four -->
        </div>
        <!-- /.header-inner container -->
    </header>
    <div class="main">
        <div class="image-map-box container">
                <img src="../img/map.png" alt="image map" class="image-map">
                <a href="main.html" class="start-link container">Начать работу</a>
        </div>

    </div>
    <!-- /.main -->
    <footer class="footer container">
        <div class="footer-inner container">
            <span class="footer-copy">Meets.fun, 2017</span>
        </div>
        <!-- Footer text -->
    </footer>
</div>
<!-- /.wrapper -->
</body>
</html>