<div class="main">
  <div class="image-map-box container">
    <%= image_tag 'map2.png', alt: 'image map', class: 'image-map' %>
    <%= link_to 'Начать работу', main_path, class: 'start-link container' %>
  </div>

</div>
<!-- /.main -->