<div class="row">
  <div class="col-sm-12" id="main-header">
    <div class="row h-100">
      <div class="col-sm-12 align-self-center">
        <div class="w-50 mx-auto">
          <a href="#" role="button" aria-pressed="true" class="btn btn-block" id="main-header-button">
            Создайте свою незабываемую встречу
          </a>
          <div id="main-header-sub-text" class="text-center">
            Или присоединитесь к одной из <span class="font-weight-bold">12 324</span> встреч!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
