<div class="content-inner container">
  <div class="col col_left">
    <div class="title-box">
      <span class="title">Поиск событий</span>
    </div>
    <!-- /.title-box -->
    <div class="find-events-box">
      <p class="title">Ключевые слова</p>
      <label>
        <input type="text" class="find-input" placeholder="Футбол">
      </label>
      <p class="title">Интересы</p>
      <div class="box-radio">
        <div class="box-radio__col">
          <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label></div>
        <!-- /.box-radio__col -->
        <div class="box-radio__col">
          <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
          <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
        </div>
        <!-- /.box-radio__col -->
      </div>
      <!-- /.box-radio -->
      <p class="title">Город</p>
      <label>
        <input  class="find-input" placeholder="Москва" type="text">
      </label>
      <button class="find-btn">Поиск</button>
    </div>
    <!-- /.find-events-box -->
  </div>
  <!-- /.content-inner__col_left -->
  <div class="col col_right">
    <div class="title-box">
      <span class="title">События</span>

      <!-- /.image-box -->
    </div>
    <!-- /.title-box -->
    <div class="events">
      <div class="events__item">
        <%= link_to root_path do %>
          <%= image_tag 'image-event.png', class: 'events__item__img', alt: 'img' %>
        <% end %>
        <div class="events__item__text">
          <h2 class="event-title">Встреча друзей <wbr>на пикнике</h2>
          <span class="event-description">Отдых, Общение</span>
          <time datetime="21 мая 2018 года 10:00" class="event-date">21 мая 2018 года 10:00</time>
          <span class="event-place">Липецк, село Коренёвщино</span>
        </div>
        <a href="#" class="events__item__img-account">
          <%= image_tag 'portrait.png', class: 'portrait', alt: 'portrait' %>
          <span class="name">Иванов Иван</span>
        </a>
      </div>

    </div>
    <!-- /.events -->
  </div>
  <!-- /.content-inner__col_right -->
</div>