<h1>Поиск</h1>
<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Поиск' %>
<% end %>

<ul>
  <% @results.each do |res| %>
    <li><%= link_to res.title, user_meeting_path(res) %></li>
  <% end %>
</ul>