@media screen and (max-width: 320px)
@media screen and (max-width: 360px)
@media screen and (max-width: 375px)
@media screen and (max-width: 412px)
  .box-radio
    &__col
      display: flex
      justify-content: space-between
      &:nth-last-child(1)
        margin: 0 !important

@media screen and (max-width: 414px)
@media screen and (max-width: 592px)
  .events
    &__item
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      &__img
        max-width: 100% !important
        flex: 1 1 100%
      &__text
        flex: 1 1 50%
        align-items: center
        text-align: center
        word-wrap: break-word
        justify-content: center
        border: 0 !important
      &__img-account
        flex: 1 1 50%
        align-items: flex-start
        justify-content: center
@media screen and (max-width: 684px)
  .main
    .content-inner
      display: flex
      .col_left
        display: flex
        flex-direction: column
        justify-content: center !important
        .find-events-box
          display: flex
          flex-direction: column
          justify-content: center
          .find-btn
            padding: 10px 0 !important


  .log-box
    .log-form
      margin-top: 0
  .header
    .header-inner
      display: flex
      justify-content: center
      .header-inner__pair
        display: flex
        flex-direction: column
        justify-content: center
        align-self: center
        flex: 1 1 100%
        .search input
          margin-right: 0 !important
        .account
          order: -1
          margin-bottom: 20px
          display: flex
          flex-direction: column
          justify-content: center
          .login-text
            margin-left: 0
            margin-top: 10px
            align-self: center
      .header-inner__logo
        display: flex
        justify-content: center
        align-self: center
        flex: 1 1 100%
        padding-bottom: 20px



@media screen and (max-width: 768px)
@media screen and (max-width: 840px)
@media screen and (max-width: 1024px)
@media screen and (max-width: 1152px)
  .main
    .content-inner
      display: flex
      justify-content: center !important
      width: 100% !important
      .col_left
        margin-right: 0 !important
        min-width: 100% !important
        margin-bottom: 20px
        flex: 1 1 auto
        .find-events-box
          display: flex
          flex-direction: column
          justify-content: center
          .find-btn
            padding: 20px 0 !important
      .col_right
        max-width: 100% !important
        margin-left: 0 !important
  .box-radio
    &__col
      display: flex
      flex-direction: row !important
      align-items: center
      flex-wrap: wrap
      &:nth-last-child(1)
        margin: 0 !important
      label
        align-self: center
        margin: 0 20px
        &:nth-last-child(1)
          margin-bottom: 18.7px !important
