//imported files
@import "colors"
//Begin start-box

.image-map-box
  display: flex
  flex-direction: column
  margin-top: 33px
  .image-map
    max-width: 100%
    min-height: 100%
  .start-link
    display: flex
    align-self: center
    border: solid 1px $black-two
    border-radius: 40px
    font-family: Roboto, sans-serif
    font-size: 1.5rem
    font-weight: 300
    color: $black
    padding: 20px 70px
    margin-top: 34px
    &:hover
      border-color: $accent-color
      color: $accent-color

//End start-box